li{
	list-style:none;
}
.provinesBox{
	width:80%;
	border:1px solid #A0A0A0;
	min-height:50px;
	display:none;
	top:35px;
	background:#FFF;
	position:absolute;
	z-index:9999999;
}
.selectArea:hover{
	cursor:pointer;
}
.provinesMenu{
	height:30px;
}
.provinesMenu li{
	width:25%;
	border-right:1px solid #A0A0A0;
	border-bottom:1px solid #A0A0A0;
	background:#F0F0F0;
	float:left;
	text-align:center;
	height:30px;
	line-height:30px;
	cursor:pointer;
}
.provinesMenu li:last-child{
	border-right:none;
}
.provinesMenu .active{
	background:none;
	border-bottom:none;
	color:#e00;
}
.provinesContent>div{
	display:none;
}
.provinesContent .active{
	display:block;
}
.provinesContent{
	padding:10px;
}
.city-group tr{
	background:rgba(0,0,0,0.05);
	border-bottom:1px solid #FFF;
}
.city-group tr td ul{
}
.city-group tr td:first-child{
	text-align:center;
	width:100px;
}
.city-group tr td:last-child li{
	float:left;
}
.provinesContent ul .active{
	background:#FF6600;
	border-radius:5px;
	color:#fff;
}
.provinesContent ul .active:hover{
	color:#FFF;
}
.provinesContent ul li{
	padding:5px;
	cursor:pointer;
}
.provinesContent ul li:hover{
	color:#f00;
}
.city-city tr,.city-district tr,.city-street tr{
	display:none;
}
.city-group li{
	float:left;
}
.initArea{
	color:#888;
}
/* <!-- 区域选择结束  --> */
.addr tr td label{
	cursor:pointer;
}
.addr tr td>span{
	cursor:pointer;
	display:none;
}
.addr tr td>span:last-child{
	color:#F00;
	margin-left:10px;
}
.mini-cart-item-pic{
	margin:0 20px;
	float:left;
	text-align:left;
}
.mini-cart-item-info{
	text-align:left;
	float:left;
	overflow:hidde;
	min-width:250px;
}
#buyNumMade{
	margin:0 auto;
	max-width:150px;
}
#buyNumMade span:hover{
	cursor:pointer;
}
.orderForm tr td{
	vertical-align: middle;
}
#exampleInputAmount{
	width:450px;
}