.myCart{
	margin:0;padding:0;
	width:300px;
	height:100%;
	background:rgba(0,0,0,0.5);
	border:1px solid #222;
	position:fixed;
	top:0;right:-300px;
}
.cartButton{
	position:fixed;
	right:20px;top:48%;
}
.mini-cart-items-list li:hover{
	cursor:pointer;
}
.mini-cart-items-list .mini-cart-item:hover{
	background:rgba(0,0,0,0.05);
}
.mini-cart-items-list{
	max-height:500px;
	overflow:auto;	
}